* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
}

.top-circle {
    
    position: absolute;
    transform: translate(-25%, -55%);
}

.bottom-circle {
    color: hsl(227, 10%, 46%);
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(30%, 55%);
}


/* .photo {
    display: inline-flex;
    justify-content: center;
} */

.main-card{
    width: 320px;
	
	
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 18px;
    box-shadow: 50px 50px 200px rgb(60,162,174);
    color: hsl(0, 0%, 59%);
}

.cover-photo {
    border-radius: 10px 10px 0px 0px;
}

.image{
    position: relative;
    top: -50px;
    border: 5px solid white;
}

.content {
    position: relative;
    top: -30px;
}

.name {
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    font-weight: 700;
}

.state {
    position: relative;
    top: -20px;
}

.stats {
    position: relative;
    top: -15px;
    border-top: 1px solid hsl(0, 0%, 59%);
}

.first, .second, .third {
    color: hsl(229, 23%, 23%);
    font-size: 18px;
    font-weight: 700;
}

.text {
    font-size: 14px;
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}


@media screen and (max-width: 706px) {
    .top-circle {
        transform: translate(-70%, -55%);
    }
    
    .bottom-circle {
        transform: translate(70%, 55%);
    }
}

@media screen and (max-height:700px) {
    .bottom-circle {
        transform: translate(70%, 75%);
    }
}

@media screen and (max-width: 380px) {
    .main-card {
        width: 320px;
    }
}